Library/AnnotationManager
Library/ArtifactDB
Library/ArtifactDB-lock
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/EditorInstance.json
Library/EditorOnlyScriptingSettings.json
Library/EditorOnlyVirtualTextureState.json
Library/Artifacts/00/006e35c46a490c3bfac8594fa6e0c92f
